# === Java & Biên dịch ===
*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# === Các thư mục tạm của hệ thống build ===
target/
bin/
build/
out/
.gradle/
.m2/
.kotlin/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# === Cấu hình các công cụ lập trình (IDEs) ===
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.metadata/
.bin/
.settings/
.loadpath
.project
.classpath
.apt_generated
.factorypath
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# === Hệ điều hành ===
.DS_Store
Thumbs.db