.input-field {
    -fx-border-color: #bdbdbd;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-padding: 7 10;
    -fx-font-size: 13;
    -fx-background-color: white
}
.input-field:focused {
    -fx-border-color: #1a237e;
    -fx-border-width: 1.5
}
.text-area-field {
    -fx-border-color: #bdbdbd;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-padding: 7 10;
    -fx-font-size: 13
}
.label-error {
    -fx-text-fill: #c62828;
    -fx-font-size: 12
}
.label-success {
    -fx-text-fill: #2e7d32;
    -fx-font-size: 12
}
