.left-form {
    -fx-background-image: url(images/Scene.png);
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-border-width: 0 1px 0 0;
    -fx-border-color: #d3d3d3
}
.right-form {
    -fx-background-color: #ffffff
}
.textfield {
    -fx-background-color: transparent;
    -fx-border-color: #4e4376;
    -fx-border-width: 0px 0px 1px 0px
}
.btn {
    -fx-background-color: linear-gradient(to right bottom, rgb(43, 88, 118), rgb(78, 67, 118));
    -fx-text-fill: #ffffff;
    -fx-font-family: "Tahoma";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 5px
}
.btn:hover {
    -fx-background-color: #ffffff;
    -fx-text-fill: #4e4376;
    -fx-border-color: #4e4376;
    -fx-border-radius: 5px
}
