.left-form {

    -fx-background-image: url("images/Scene.png");
    -fx-background-size: cover;
    -fx-background-position: center center;

    /* Lệnh tạo viền ngăn cách 2 bên */
    -fx-border-width: 0 1px 0 0;
    -fx-border-color: #d3d3d3;
}

.right-form {
    -fx-background-color: #fff;
}

.textfield {
    -fx-background-color: transparent;
    -fx-border-color: #4e4376;
    -fx-border-width: 0px 0px 1px 0px;
}

.btn {
    -fx-background-color: linear-gradient(to right bottom, #2b5876, #4e4376);
    -fx-text-fill: #fff;
    -fx-font-family: "Tahoma";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 5px; /* Bo góc nhẹ cho nút bấm */
}

.btn:hover {
    -fx-background-color: #fff;
    -fx-text-fill: #4e4376;
    -fx-border-color: #4e4376;
    -fx-border-radius: 5px;
}